

 <aside>
  <h2>There are <span><%= Contact.all.length %></span> contacts.</h2>
 </aside>

<section class="container">
  <ul>
    <% Contact.all.each do |contact| %>
    <li>
      <h3><a href="/contacts/<%= contact.id %>" class="name"><%= contact.first_name %> <%= contact.last_name %></a> (<%= contact.email %>)</h3><br>
      <form action="/contacts/<%= contact.id %>/edit">
        <input type="submit" value="Edit Contact" />
      </form>
      <form action='/contacts/<%= contact.id %>' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Delete Contact'>
      </form>
    </li>
    <% end %>
  </ul>
</section>
